.search-bar{
gap: 0.5rem;
display: flex;
flex-direction: row;
margin: auto;
justify-content: space-around;
align-items: center;
align-content: center;


}
.search-bar button{
   background-color: rgb(8, 238, 207);
   color: #fff;
   cursor: pointer;
}